#item1,#item2{
    height:600px;
    width:100%;
}
#item3{
    margin:50px 0;
    height:600px;
}
footer{
    margin-top: 50px;
}
h1{
    margin-bottom: 50px;
}
h3{
    text-align: center;
}
#container {
    margin: 0 auto;
    width:800px;
    height: 600px;
}
#answer{
    /*border:1px solid black;*/
    width: 40%;
    height: 250px;
}